/* GENERAL SETUP  */
*{
    box-sizing: border-box;
    margin: 0px;

    /* Testing Mode  */
    /* border: 1px dashed orange; */
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/*  Responsive Page ruleset

    The following ruleset sets the page
    to use flexbox on its main components.
    This helps improving overall page responsiveness

*/
body > *{
    display: flex;
    justify-content: center;

    width: 100%;
}
body > *:before, body > *:after{
    flex: 0 1 15%;
    content: "";
}
.page-container{
    flex: 0 0 70%;
    min-width: 600px;
    padding: 0 10px;
}
/* end of Responsive Page ruleset */

/* COMMON  */
a{
    color: currentColor;
    text-decoration: none;
}
a:hover{
    text-shadow: 0 0 2px white;
}


/* HEADER  */
header{
    position: fixed;
    top: 0;

    height: 4em;

    color: white;
    font-size: medium;
    font-weight: bold;

    background-color: orangered;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.507);
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Lateral Containers  */
header div{
    display: flex;
    justify-content: space-between;
}
/* Shop Categories  */
header div:first-child *{
    margin-right: 0.5em;
}
/* Personal Sections  */
header div:last-child *{
    margin-left: 0.5em;
}
/* Logo  */
header img{
    height: 50%;
}

/* MAIN  */
main{
    margin-top: 4em;
}

#shop{
    padding: 2em 0;

    display: flex;
    justify-content: space-between;
}

/* Items  */
.item{
    position: relative;

    flex: 0 0 30%;
    min-width: 250px;

    font-size: large;
}

/* Static Contents  */
.item img{
    width: 100%;
}
.item .brand{
    display: block;
}
.item .name{
    display: block;

    font-size: x-large;
    font-weight: bold;
}
.item .price{
    font-weight: bold;
    color: red;
}
.item .original-price{
    display: none;
    text-decoration: line-through;
}
.item.discounted .original-price{
    display: inline;
}

/* Absolute Contents  */
.item .tags{
    position: absolute;
    left: 0px;
    bottom: 7em;
    
    font-size: medium;
    color: white;
}
.item .tags span{
    padding: 0.1em 0.6em;
}

.item .discount{
    background-color: red;
}
.item .discount::before{
    content: "-";
}
.item .discount::after{
    content: "%";
}
